<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Intextwo.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
@*     <header class="header shadow rounded-pill">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d3660e87ecaac15cafa9cb42798721e4047a1e0efee2935dcdbb5861cfde1cf?apiKey=9a246791027840cdbefebef3c3499f5e&" alt="Logo" class="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="input-group">
                    <input type="text" class="form-control rounded" name="query" placeholder="Search Lego Sets" aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" class="btn btn-primary" data-mdb-ripple-init>search</button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> *@

    <header class="header shadow">
        <div class="container">
            <div class="row space-mono-bold">
                <div class="col-2">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3d3660e87ecaac15cafa9cb42798721e4047a1e0efee2935dcdbb5861cfde1cf?apiKey=9a246791027840cdbefebef3c3499f5e&" alt="Logo" class="logo" />
                    </a>
                </div>

                <div class="col">
                    <div class="search-bar p-1 m-1 absolute-center">
                        <form asp-action="CustProductList" method="get" onsubmit="setHiddenInputValues(this)">
                            <div class="input-group">
                                <input type="hidden" name="pageNum" value="1" />
                                <input type="text" name="searchParam" placeholder="Search Products" />
                                <input type="hidden" name="color" id="hiddenColor" />
                                <input type="hidden" name="cat" id="hiddenCategory" />
                                <input type="hidden" name="pageSizes" id="hiddenPageSize" />
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                        <script>
                            function setHiddenInputValues(form) {
                                // Retrieve the dropdown elements by their ID
                                var colorDropdown = document.getElementById('colorDropdown');
                                var categoryDropdown = document.getElementById('categoryDropdown');
                                var pageSizeDropdown = document.getElementById('pageSizeElementId'); // Or whatever the ID is

                                // Set the hidden input values based on the dropdown selections
                                form['color'].value = colorDropdown ? colorDropdown.value : '';
                                form['cat'].value = categoryDropdown ? categoryDropdown.value : '';
                                form['pageSizes'].value = pageSizeDropdown ? pageSizeDropdown.value : '';

                                // The form will proceed to submit after this function completes
                            }
                        </script>
                    </div>
                </div>

                <div class="col absolute-center">
                    <div class="absolute-center">
                        <a asp-controller="Home" asp-action="CustProductList" asp-route-pageNum="1" class="privacy-link link-warning">
                        <span class="text-center">
                            PRODUCTS
                        </span>
                    </a>
                </div>

                
                <div class="col absolute-center">
                        <div class="absolute-center">
                        <a asp-controller="Home" asp-action="AboutUs" class="about-link link-warning">
                            <span class="text-center">
                                ABOUT US
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col absolute-center">
                        <div class="absolute-center">
                        <a asp-controller="Home" asp-action="Privacy" class="privacy-link link-warning">
                            <span class="text-center">
                                PRIVACY
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-3 absolute-center m-2">
                    <div class="dropdown bg-white text-black rounded-pill absolute-center " style="width: 180px; height: 60px;">
                        <span class="user dropdown-toggle absolute-center" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/lib/img/USER_ICON.png" alt="Logo" class="m-1" style="width: 70px; height: 60px;"/>
                        </span>
                        <div class="dropdown-menu border-2 border-danger shawdow" aria-labelledby="dropdownMenuButton">
                            <partial name="_LoginPartial" class="absolute-center"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-1">
            <vc:cart-summary ></vc:cart-summary>
            <div id="loading" style="visibility:hidden; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); z-index: 9999;">
                <img src="~/lib/img/f39692ecaeca69ab75397c1caee129e8_w200.gif" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container absolute-center text-white">
            &copy; 2024 - Intextwo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    


</body>
</html>
