@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    }
}


<div class="row">
    <div class="blue-brick text-white col col-1">
        <h2 class="center">
            MANAGE ACCOUNT
        </h2>
    </div>
</div>

<div>
    <div class="row bg-white col blue-border rounded-3 shadow p-4">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
