@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Admin Tools";
}
<h1>Admin Tools</h1>
<div class="blue-brick">
    <a class="btn text-white" asp-controller="Home" asp-action="AdminProductList">Products</a>
</div>
<a class="btn" asp-controller="Home" asp-action="AdminProductList">Products</a>
<a class="btn" asp-controller="Home" asp-action="AdminViewOrders">Orders</a>
<a class="btn" asp-controller="Home" asp-action="AdminUpdateUser">Users</a>