@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Admin Tools</h1>

<a class="btn" asp-controller="Home" asp-action="AdminProductList">Products</a>
<a class="btn" asp-controller="Home" asp-action="AdminOrderList">Orders</a>
<a class="btn" asp-controller="Home" asp-action="AdminUserList">Users</a>