@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Intextwo.Models.ViewModels.OrderViewModel>

<div class="green-brick text-white">
    <h2 class="center">
        WELCOME
    </h2>
</div>


<div id="alert" class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Alert message!</strong> This site may use cookies.
    <button type="button" class="btn btn-primary" id="acceptButton">Accept</button>
    <button type="button" class="btn btn-secondary" id="declineButton">Decline</button>
    <button type="button" class="btn btn-secondary" id="privacyButton">Privacy</button>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            // Display the alert
            $("#alert").show();

            // Attach click events to both buttons
            $("#acceptButton").click(function () {
                // Handle accept logic here
                // ...
                $("#alert").hide();
            });

            $("#declineButton").click(function () {
                // Redirect to the privacy page
                window.location.href = '@Url.Action("Sorry", "Home")';
            });
            $("#privacyButton").click(function () {
                // Redirect to the privacy page
                window.location.href = '@Url.Action("Privacy", "Home")';
            });
        });
    </script>
}


