@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Order Pending";
}

<div class="green-border bg-white table-striped p-4 shadow rounded-3">
    <h1 class="text-center">
        Your Order is Pending
    </h1>
    <h2 class="text-center">
        Your order will be reviewed and you will be notified when it is confirmed
    </h2>
</div>

