@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Sorry!";
}
<h1>Sorry! You are unable to access our services at this time.</h1>